<ion-view title="Settings">
    <ion-header-bar  class="bar-positive">
  		<h1 class="title">Settings</h1>
	</ion-header-bar>
	<ion-content >
		
  			<label class="item item-input item-floating-label">
    			<span class="input-label">First Name</span>
    			<input type="text" placeholder="First Name" ng-model="settings.firstName">
  			</label>
  			<label class="item item-input item-floating-label">
    			<span class="input-label">Last Name</span>
    			<input type="text" placeholder="Last Name" ng-model="settings.lastName">
  			</label>
  			<label class="item item-input item-floating-label">
   	 			<span class="input-label">Email</span>
    			<input type="text" placeholder="Email" ng-model="settings.email">
  			</label>
		
	</ion-content>
</ion-view>