<ion-view title="Settings">
	<ion-content >
		<form ng-submit="updateSettings(settings)">
  			<label class="item item-input item-floating-label">
    			<span class="input-label">First Name</span>
    			<input type="text" placeholder="First Name" ng-model="settings.firstName">
  			</label>
  			<label class="item item-input item-floating-label">
    			<span class="input-label">Last Name</span>
    			<input type="text" placeholder="Last Name" ng-model="settings.lastName">
  			</label>
  			<label class="item item-input item-floating-label">
   	 			<span class="input-label">Email</span>
    			<input type="text" placeholder="Email" ng-model="settings.email">
  			</label>
  			<div class="padding">
          		<button type="submit" class="button button-block button-positive">Save</button>
        	</div>
		</form>
	</ion-content>
</ion-view>